.about-container {
  height: 60vw;
  background-image: url(./images/Lotus.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
.about-text-container {
  width: 50vw;
  height: 60vw;
  background-color: black;
}

.about-title {
  margin-top: 4vw;
  color: white;
  text-align: center;
}
.about-sub-title {
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: white;
  text-align: center;
}
.realstate-about-sub-title {
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: rgb(185, 0, 0);
  text-align: center;
}

.automotive-sub-title {
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: white;
  text-align: center;
}

.about-content {
  width: 40vw;
  margin-left: 5vw;
  font-size: 1vw;
  color: white;
  text-align: center;
}
.automotive-services {
  width: 25vw;
  height: 30vw;
  background: linear-gradient(to left, #000000 0%, #000000 90%, #ffffff 100%);
}
.realstate-services {
  width: 22vw;
  height: 30vw;
  background-color: white;
}

.realstate-title-services {
  color: rgb(185, 0, 0);
}

.parent {
  border: 2px solid;
  border-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255)) 1;
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.automotive-about-content {
  font-size: 0.8vw;
  color: white;
  text-align: center;
}
.realstate-about-content {
  font-size: 0.8vw;
  color: black;
  text-align: center;
}

.top {
  color: white;
}
