.signup-container {
  height: 55vw;
  background-image: url(./images/smoke.jpeg);
  background-size: cover;

  /* border: 2px solid white; */
  /* background-color: pink; */
}
#signup-form-container {
  padding-top: 3vw;
  margin-left: 35%;
  margin-top: 8%;
  width: 30vw;
  height: 30vw;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.151);
}

.email-form-group {
  font-size: 1vw;
}

.password-form-group {
  font-size: 1vw;
}

.signup-form-control {
  text-align: center;
  width: 20vw;
  height: 2vw;
  margin-left: 5vw;
  margin-top: 2vw;
  font-size: 1vw;
}

.login-button {
  font-size: 1vw;
  padding: 5px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-left: 13.1vw;
  margin-top: 2vw;
}
.login-button:hover {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.signup-title {
  color: white;
  margin-top: 1vw;
  text-align: center;
  font-size: 2.5vw;
}
.smoke {
  margin-top: -10vw;
  width: 100vw;
}
